.wrapper {
  display: inline-block;
  font-size: 1.2rem;
  padding: 6px 12px;
  border: 1px solid currentColor;
  border-radius: 4px;

  svg {
    fill: currentColor;
    margin-right: 8px;
  }
}
