.wrapper {
  width: 353px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 2px 2px 15px rgba(70, 64, 67, 0.1);
  border-radius: 12px;
}

.custom-caption-label {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 700;
  color: var(--primary-color);
}

.custom-nav-icon {
  color: var(--primary-color);
}

.custom-head {
  height: 40px;
  color: var(--primary-color);
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 700;
}

.custom-day {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 600;
  color: #535261;
  border-radius: 8px;
}

.custom-today {
  background-color: #a9a9b0 !important;
}

.custom-day-selected {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.custom-day-range-middle {
  background-color: #fff2e7 !important;
  color: #535261 !important;
  border-radius: unset !important;
}

.custom-day-outside {
  color: #7e7d88;
  opacity: 0.8;
}

.calendar_icon {
  width: 20px;
  height: 20px;
  color: var(--primary-color);
}

.arrow-icon {
  width: 8px;
  height: 8px;
  color: var(#535261);
}

.date-display-content {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.date-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  height: 44px;
  width: 150px;
  padding: 8px 16px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid var(--border-color);
}
