@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --font-family: 'Montserrat', sans-serif;

  --text-color: #282739;
  --primary-color: #ff7506;
  --border-color: #e5e0e0;

  --red-color: #e73f3f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 20px;
  text-rendering: optimizespeed;
  color: var(--text-color);
  background-color: var(--app-bg-color);
  user-select: none;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.layout-wrapper {
  width: 1440px;
  height: 730px;
  border-radius: 24px;
  background-color: #f9f6f4;
  box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
  overflow: hidden;
}

a {
  color: var(--text-color);
  text-decoration: none;
  user-select: none;
}

input,
button {
  outline: none;
  border: none;
}
